/*
  css used from a open css source template 
  https://www.w3schools.com/w3css/4/w3.css
*/
.sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.searchArea {
    position: absolute;
    top: 400px;
    left: 600px;
}

.SearchArea input {
    height: 30px;
    width: 200px;

}
.bar-item {
    padding: 8px 16px;
    float: center;
    width: auto;
    border: none;
    display: block;
    outline: 0
}
.btn, .button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}
.btn, .button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.disabled, .btn:disabled, .button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "helvetica", sans-serif
}
.sidebar {
    width: 120px;
    background: #222;
    color: gold
}
#main {
    margin-left: 120px
}
.bar-block .dropdown-hover .button, .bar-block .dropdown-click .button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}
.bar .button {
    white-space: normal
}
.disabled *, :disabled * {
  pointer-events: none
}
.dropdown-hover.mobile, .dropdown-hover.mobile .btn, .dropdown-hover.mobile .button, .dropdown-click.mobile, .dropdown-click.mobile .btn, .dropdown-click.mobile .button {
    width: 100%
}
.button:hover {
    color: #000 !important;
    background-color: #ccc !important
}
.padding-large {
    padding: 12px 24px !important
}
.purple {
    color: gold !important;
    background-color: #2b0542 !important
}
.hover-purple:hover {
    color: darkgoldenrod !important;
    background-color: #5b0a8c !important
}
.top, .bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}
.top {
    top: 0
}
.bottom {
    bottom: 0
}
@media (min-width:993px) {
    .modal-content {
        width: 900px
    }

    .hide-large {
        display: none !important
    }

    .sidebar.collapse {
        display: block !important
    }
}
@media (max-width:992px) and (min-width:601px) {
    .hide-medium {
        display: none !important
    }
}
@media (max-width:601px) {
    .hide-small {
        display: none !important
    }
}
.opacity, .hover-opacity:hover {
    opacity: 0.60
}
.opacity-off, .hover-opacity-off:hover {
    opacity: 1
}
.opacity-max {
    opacity: 0.25
}
.opacity-min {
    opacity: 0.75
}
.center {
    text-align: center !important
}
.small {
    font-size: 12px !important
}
.medium {
    font-size: 15px !important
}
.large {
    font-size: 18px !important
}
.padding-large {
    padding: 12px 24px !important 
}