<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="text-align:center">
    <div class= "container">
        <div class="row">
    
    <div class="col-lg-12">
    <h1>Software Engineering Class SFSU</h1>
    </div>
<div class="col-lg-12">
        <h1>Fall 2019</h1>
    </div>
    <div class="col-lg-12">
            <h1>Section 1</h1>
        </div>
        <div class="col-lg-12">
                <h1>Team 10</h1>
            </div>
<div class ="col-lg-12">
    <a href="/person1"><button>Ibrahim Chaudry</button><br></a>
    <a href="/person2"><button>Tom Sechrist</button><br></a>
    <a href="/person3"><button>Lance Santos</button><br></a>
    <a href="/person4"><button>Paul Lueng</button><br></a>
    <a href="/person5"><button>Alexander Beers</button><br></a>
    <a href="/person6"><button>Szahran</button><br></a>
    </div>
</div>
</div>
</body>
</html>