<!DOCTYPE html>
<html>
<title>About Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css" />

<!--
  code referenced from an open source template
  https://www.w3schools.com/w3css/w3css_templates.asp
-->

<body>

    <!-- Sidebar -->
<nav class="purple sidebar bar-block small hide-small center">
    <!--  image above "person 1" such as a marketplace logo can go here with <img src = "  " style="width:100%"> -->
    <a href="team/person1" class="bar-item button padding-large hover-purple">
        <p>Ibraheem</p>
    </a>
    <a href="team/person2" class="bar-item button padding-large hover-purple">
        <p>Tom</p>
    </a>
    <a href="team/person3" class="bar-item button padding-large hover-purple">
        <p>Alexander</p>
    </a>
    <a href="team/person4" class="bar-item button padding-large hover-purple">
        <p>Lance</p>
    </a>
    <a href="team/person5" class="bar-item button padding-large hover-purple">
        <p>Paul</p>
    </a>
    <a href="team/person6" class="bar-item button padding-large hover-purple">
        <p>Szahran</p>
    </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="top hide-large hide-medium" id="myNavbar">
    <div class="bar purple opacity center small">
        <a href="team/person1" class="bar-item button" style="width:25% !important">PERSON 1</a>
        <a href="team/person2" class="bar-item button" style="width:25% !important">PERSON 2</a>
        <a href="team/person3" class="bar-item button" style="width:25% !important">PERSON 3</a>
        <a href="team/person4" class="bar-item button" style="width:25% !important">PERSON 4</a>
        <a href="team/person5" class="bar-item button" style="width:25% !important">PERSON 5</a>
        <a href="team/person6" class="bar-item button" style="width:25% !important">PERSON 6</a>
    </div>
</div>
<div class="padding-large" id="main">
   
    <header>
        <h1><Center>Software Engineering class SFSU</Center></h1>
        <h2><Center>Fall 2019</Center></h2>
        <h2><Center>Section 2</Center></h2>
        <h2><Center>Team 10</Center></h2>
    </header>

    <div id="about">
        <h2>About the team</h2>
        <hr align="left" style="width:400px"  color="darkgoldenrod" class="opacity">
        <p>
            lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <footer></footer>
    </div>
    </body>
</html>