<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<!--
  code referenced from an open source template
  https://www.w3schools.com/w3css/w3css_templates.asp
-->

<body>
    <!-- Sidebar -->
    <nav class="purple sidebar bar-block small center">
        <!--add hide-small to make main sidebar go away on small screens-->
        <!--  image above "person 1" such as a marketplace logo can go here with <img src = "  " style="width:100%"> -->
        <a href="/" class="bar-item button padding-large hover-purple">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </a>
        <a href="team/ibraheem" class="bar-item button padding-large hover-purple">
            <p>&nbsp;Ibraheem&nbsp;</p>
        </a>
        <a href="team/tom" class="bar-item button padding-large hover-purple">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tom&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </a>
        <a href="team/alexander" class="bar-item button padding-large hover-purple">
            <p>&nbsp;Alexander&nbsp;</p>
        </a>
        <a href="team/lance" class="bar-item button padding-large hover-purple">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Lance&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </a>
        <a href="team/paul" class="bar-item button padding-large hover-purple">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paul&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </a>
        <a href="team/saleh" class="bar-item button padding-large hover-purple">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Saleh&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </a>

    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) 
    <div class="top hide-large hide-medium" id="myNavbar">
        <div class="bar purple opacity center small">
            <a href="team/ibraheem" class="bar-item button" style="width:25% !important">Ibraheem</a>
            <a href="team/tom" class="bar-item button" style="width:25% !important">Tom</a>
            <a href="team/alexander" class="bar-item button" style="width:25% !important">Alexander</a>
            <a href="team/lance" class="bar-item button" style="width:25% !important">Lance</a>
            <a href="team/paul" class="bar-item button" style="width:25% !important">Paul</a>
            <a href="team/saleh" class="bar-item button" style="width:25% !important">Saleh</a>
        </div>
    </div>
    -->
    <div class="padding-large" id="main">


        <header>
            <h1 style="padding-top:20px;"><Center>Software Engineering class SFSU</Center></h1>
            <h2><Center>Fall 2019</Center></h2>
            <h2><Center>Section 2</Center></h2>
            <h2><Center>Team 10</Center></h2>
  
      </header>
      <!--use HTML form and specify names of input fields that we will refer to in app.js:

      -->
<form> 
    <input id= "search" type="text" name="search" value=""  placeholder = "Search...">
    <select name ="category" onchange="this.form.submit()">
        <option value=""> All Categories</option>
        <option value="Category1" <% if( category == "Category1") { %> Textbooks</option>
        
         <option value="Category2" <% if (category == "Category2") { %> selected <% } %> > Category2</option>
   
    </select>
</form>
<script>
$(document).ready(function(){
    <% for (var i = 0; i < searchResult.length; i++){ %>
        document.getElementById('result').innerHTML += '<p> <%= searchResult[i]['ID']%>.<%= searchResult[i]['Name']%> </p>'
        document.getElementById('result').innerHTML += '<p> Item Category:<%= searchResult[i]['Category']%><br>Comment: <%= searchResult[i]['Comment'] %></p>'
        document.getElementById('result').innerHTML += '<p>Price: <%= searchResult[i]['Price']%>$</p>'
   <% } %>
});
</script>


    <div id="about">
        <h2>About the team</h2>
        <hr align="left" style="width:400px"  color="darkgoldenrod" class="opacity">
        <p>
            We are a group of motivated individuals who are working together to bring an application that is local to San Francisco State University students. By making this application, we hope to provide a way to help with the academic needs of students.
        </p>
        <footer></footer>
    </div>
    </body>
</html>



































