<!DOCTYPE html>
<html lang="en" dir="ltr">

<!--Imports header from assets -->
<% include assets/head %>

<body>

<!--Imports navbar from assets -->
<% include assets/navbar %>

<div class="contentOnPage">
  <h3 class="Introduction"><span class="GatorTrader">Gator Trader</span>
    specializes in the distribution of products by SFSU students, for SFSU students.
    We offer a wide range of services, from buying and selling items, to tutoring lessons based on subject.
  </h3>


<!--Carousel  of Recent Items -->

  <div class="CarouselContainer">
  </div>
</div>

</body>

</html>
