<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<nav class="purple padding-large">
		<h1 align="center">Software Engineering class SFSU Fall 2019 Section 2 Team 10</h1>
			<div align="center">
				<form action="/grabValTest" method="post">
					<input type="text" name="searchEntry" placeholder="Enter item by name."  size="40">
					<input type="submit" value="Search"><br><br>
	</nav>
	
	<h3><a href="about">&nbsp;About us&nbsp;</a></h3>
					<div class = "padding-large">
						<% for(var i=0; searchResult[i]; i++) {%><br>
						<h2><%=searchResult[i].name%></h2><br>
						<%=searchResult[i].picture%>
						<h3><%=searchResult[i].price%><br></h4>
						<h3><%=searchResult[i].description%></h4><br><br><br>
						<% } %>
					</div>
				</form>
					</div>
			</div>
</body>
</html>