<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <a href="about">
        <p>&nbsp;about page&nbsp;</p>
    </a>
    <div id="test">
        <h1>test function</h1>
        <form action="/grabValTest" method="post">
            <label for="foo">ENTER VALUE:</label>
            <input type="text" id="foo" name="foo" placeholder="Enter a value" />
            <input type="submit" value="Send data" />
        </form>
    </div>
</body>
</html>
