<!DOCTYPE html>
<html lang="en" dir="ltr">
 
 
<!--Imports header from assets -->
<% include assets/head.ejs %>
 
<body>
 
<!--Imports navbar from assets -->
<% include assets/navbar %>

 
       <div class="col-lg-12">
          <div class=" messageEmpty "> 
              <a class="btn btn-outline-warning btn-lg  col-lg-2 cancelForm "href="#">Messages<span class="sr-only">(current)</span></a>
              <a class="btn btn-warning btn-lg  col-lg-2 cancelForm "href="#">Sales Items<span class="sr-only">(current)</span></a>
            </div>
 
      <div class="contactSeller col-lg-12"> 
 
        <div class="row outline">
          <h5 class= "col-md-3 messageHeader "><u>Date</u></h5> 
          <h5 class= "col-md-4 messageHeader "><u>Item Name</u></h5>  
              <h5 class= "col-md-3 messageHeader"><u>Price</u></h5>
              <h5 class= "col-md-2 messageHeader"><u></u></h5>
          </div> 
 
          <div class="row outline">
              <h5 class= "col-md-3 messageHeader">10/11/2019</h5> 
              <h5 class= "col-md-4 messageHeader ">Math Textbook</h5>
                  <h5 class= "col-md-3 messageHeader">$40.00</h5>
                  <h5 class= "col-md-2 messageHeader btn btn-warning "><u>Remove</u></h5>
              </div> 
 
          <div class="row outline">
                  <h5 class= "col-md-3 messageHeader">10/13/2019</h5> 
                  <h5 class= "col-md-4 messageHeader ">Pencil</h5> 
                      <h5 class= "col-md-3 messageHeader">$3.00</h5>
                      <h5 class= "col-md-2 messageHeader btn btn-warning "><u>Remove</u></h5>
                  </div> 
          
          <div class="row outline">
              <h5 class= "col-md-3 messageHeader">10/15/2019</h5> 
              <h5 class= "col-md-4 messageHeader ">gameboy Color</h5> 
                  <h5 class= "col-md-3 messageHeader">$30.00</h5>
                  <h5 class= "col-md-2 messageHeader btn btn-warning "><u>Remove</u></h5>
              </div> 
 
              <div class="row outline">
                  <h5 class= "col-md-3 messageHeader">10/17/2019</h5> 
                  <h5 class= "col-md-4 messageHeader ">Microwave</h5>  
                      <h5 class= "col-md-3 messageHeader">$40.00</h5>
                      <h5 class= "col-md-2 messageHeader btn btn-warning "><u>Remove</u></h5>
                  </div> 
                  <div class="row outline">
                      <h5 class= "col-md-3 messageHeader">10/19/2019</h5> 
                      <h5 class= "col-md-4 messageHeader ">Binder</h5>
                          <h5 class= "col-md-3 messageHeader">$6.00</h5>
                          <h5 class= "col-md-2 messageHeader btn btn-warning "><u>Remove</u></h5>
                      </div> 
 
                      <div class="row outline">
                          <h5 class= "col-md-3 messageHeader">10/21/2019</h5> 
                          <h5 class= "col-md-4 messageHeader ">Biology Textbook</h5> 
                              <h5 class= "col-md-3 messageHeader">$50.00</h5>
                              <h5 class= "col-md-2 messageHeader btn btn-warning "><u>Remove</u></h5>
                          </div> 
      
      </div>
 
    </div>
 
</body>
</html>
