<!DOCTYPE html>
<html lang="en" dir="ltr">
 
 
<!--Imports header from assets -->
<% include assets/head.html %>
 
<body>
 
<!--Imports navbar from assets -->
<% include assets/navbar %>

 <div class="itemContainer container-fluid">
<table style="width:100%">
    <tr>
      <th>Date</th>
      <th>Item Name</th> 
      <th>Price</th>
    </tr>

    <% for(var i=0; salesItems[i]; i++) { %>
    <tr>
      <td><p><%=salesItems[i].date_upload%></p></td>  
      <td><p><%=salesItems[i].name%></p></td>
      <td><p><%=salesItems[i].price%></p></td>
      <% } %>
      
    </tr>
    <!-- end off loop -->
  </table>
</div>
 