<!DOCTYPE html>
<html lang="en" dir="ltr">
 
 
<!--Imports header from assets -->
<% include assets/head.html %>
 
<body>
 
<!--Imports navbar from assets -->
<% include assets/navbar %>
 
 
       <div class="col-lg-12">
          <div class=" messageEmpty "> 
              <a class="btn btn-outline-warning btn-md  col-lg-2 cancelForm "href="#">Messages<span class="sr-only">(current)</span></a>
              <a class="btn btn-warning btn-md  col-lg-2 cancelForm "href="#">Sales Items<span class="sr-only">(current)</span></a>
            </div>
 
      <div class="contactSeller col-lg-12"> 
 
        <div class="row outline">
          <h5 class= "col-md-3 messageHeader "><u>Date</u></h5> 
          <h5 class= "col-md-4 messageHeader "><u>Item Name</u></h5>  
              <h5 class= "col-md-3 messageHeader"><u>Price</u></h5>
              <h5 class= "col-md-2 messageHeader"><u></u></h5>
          </div> 
 
          <!--Loop to Display Sales item for each row-->
          <% for (var i =1; i <=5;  i++ ) { %>
          <div class="row outline">
              <h5 class= "col-md-3 messageHeader">10/11/2019</h5> 
              <h5 class= "col-md-4 messageHeader ">Math Textbook</h5>
                  <h5 class= "col-md-3 messageHeader">$40.00</h5>
                  <h5 class= "col-md-2 messageHeader btn btn-warning "><u>Remove</u></h5>
              </div> 
              <% } %>
 
         
      
      </div>
 
    </div>
 
</body>
</html>
