<!DOCTYPE html>
<html lang="en" dir="ltr">
 
 
<!--Imports header from assets -->
<% include assets/head.html %>
 
<body>
 
<!--Imports navbar from assets -->
<% include assets/navbar %>
 
 
       <div class="col-lg-12">
         <div class=" messageEmpty ">
            <a class="btn btn-outline-warning btn-lg  col-lg-2 cancelForm "href="/user/messages">Messages<span class="sr-only">(current)</span></a>
            <a onclick="document.getElementById('user-items').submit();" class="btn btn-warning btn-lg  col-lg-2 cancelForm">Sales Items<span class="sr-only"></span></a>
              
            <form class="messageEmpty" id="user-items" name="userform" action="/user/sales" method="POST"></form>

              
            
            </div>
            
 
      <div class="contactSeller col-lg-12"> 
 
        <div class="row outline">
          <h5 class= "col-md-3 messageHeader "><u>Date</u></h5> 
          <h5 class= "col-md-4 messageHeader "><u>Item Name</u></h5>  
              <h5 class= "col-md-3 messageHeader"><u>Price</u></h5>
              <h5 class= "col-md-2 messageHeader"><u></u></h5>
          </div> 
 
          <!--Loop to Display Sales item for each row-->
          <% for (var i =1; i <=5;  i++ ) { %>
          <div class="row outline">
              <h5 class= "col-md-3 messageHeader">10/11/2019</h5> 
              <h5 class= "col-md-4 messageHeader ">Math Textbook</h5>
                  <h5 class= "col-md-3 messageHeader">$40.00</h5>
                  <h5 class= "col-md-2 messageHeader btn btn-warning "><u>Remove</u></h5>
              </div> 
              <% } %>
 
         <!--RESIZABLE DASHBOARDS-->
      
      </div>
 
    </div>
 
</body>
</html>


<!--
<table style="width:100%">
    <tr>
      <th>Date</th>
      <th>Item Name</th> 
      <th>Price</th>
    </tr>

    <% for(var i=0; salesItems[i]; i++) { %>
    <tr>
      <td><p><%=salesItems[i].date_upload%></p></td>  
      <td><p><%=salesItems[i].name%></p></td>
      <td><p><%=salesItems[i].price%></p></td>
           <td><h5 class= "col-md-2 messageHeader btn btn-warning "><u>Delete</u></h5></td>
      <% } %>

    </tr>
    <!-- end off loop -->
  </table>
-->



 
 