<!DOCTYPE html>
<html lang="en" dir="ltr">
 
 
<!--Imports header from assets -->
<% include assets/head.html %>
 
<body>
 
<!--Imports navbar from assets -->
<% include assets/navbar %>
       <div class="col-lg-12">
          <div class=" messageEmpty "> 
              <a class="btn btn-warning btn-md  col-lg-2 cancelForm "href="#">Messages<span class="sr-only">(current)</span></a>
              <a class="btn btn-outline-warning btn-md  col-lg-2 cancelForm "href="#">Sales Items<span class="sr-only">(current)</span></a>
            </div>
 
      <div class="contactSeller col-lg-12"> 
 
 
        <div class="row outline">
          <h5 class= "col-md-2 messageHeader "><u>Name</u></h5> 
          <h5 class= "col-md-2 messageHeader "><u>Item</u></h5> 
              <h5 class= "col-md-3 messageHeader"><u>Phone Number</u></h5> 
              <h5 class= "col-md-3 messageHeader"><u>Email</u></h5>
              <h5 class= "col-md-2 messageHeader"><u></u></h5>
          </div> 
          
          <!--Loop to Display Messages for each row-->
            <% for (var i =1; i <=5;  i++ ) { %>
          <div class="row outline">
              <h5 class= "col-md-2 messageHeader">Jason</h5> 
              <h5 class= "col-md-2 messageHeader ">Math Textbook</h5> 
                  <h5 class= "col-md-3 messageHeader">XXX-XXX-XXXX</h5> 
                  <h5 class= "col-md-3 messageHeader">Jason@sfsu.edu</h5>
                  <h5 class= "col-md-2 messageHeader btn btn-warning "><u>Delete</u></h5>
              </div>                
            <% } %>
 
            <!-- RESIZABLE DASHBOARDS-->
        
      
      </div>
    </div>
</body>
</html>