<script src="/js/itemModalData.js"></script>
<script src="/js/formData.js"></script>

<footer>
    <br />
    <div class="classSectionHeader col-sm-12">
        <p>SFSU Software Engineering Project CSC 648-848, Fall 2019.  For Demonstration Only</p>
    </div>
</footer>