<!--Login and registeration modal-->
<div class="modal fade " id="loginModal">
        <div class="modal-dialog ">
          <div class="modal-content login-modal-container">
            <div class="modal-header loginProperties">
              <b>LOG IN</b>
              <button type="button" class="close white" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body loginProperties">
              Email
              <form action="/" method="post">
                <input type="text" name="searchEntry" placeholder="" size="40">
              </form>
              Password
              <form action="/" method="post">
                <input type="text" name="searchEntry" placeholder="" size="40">
              </form>
              <u>Forgot Password / Email</u>
      
            </div>
            <div class="modal-footer loginProperties">
              <button type="button " class="btn btn-light" data-dismiss="modal">Login</button>
            </div>
            <div class="modal-header">
              <b>REGISTER</b>
            </div>
            <div class="modal-body">
              First Name
              <form action="/" method="post">
                <input type="text" name="searchEntry" placeholder="" size="0">
              </form>
              Last Name
              <form action="/" method="post">
                <input type="text" name="searchEntry" placeholder="" size="40">
              </form>
              SFSU Email
              <form action="/" method="post">
                <input type="text" name="searchEntry" placeholder="" size="40">
              </form>
              Password
              <form action="/" method="post">
                <input type="text" name="searchEntry" placeholder="" size="40">
              </form>
              Confirm Password
              <form action="/" method="post">
                <input type="text" name="searchEntry" placeholder="" size="40">
              </form>
              I agree to the <u>Terms and Conditions</u>
            </div>
            <div class="modal-footer">
              <button type="button " class="btn btn-dark" data-dismiss="modal">Register</button>
            </div>
          </div>
        </div>
      </div>
      
      