<!--Login and registeration modal-->
<div class="modal fade " id="loginModal">
    <div class="modal-dialog ">
        <div class="modal-content login-modal-container">
            <div class="modal-header loginProperties">
                <b>LOG IN</b>
                <button type="button" class="close white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body loginProperties">
                <form action="/users/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email"
                               id="email"
                               name="email"
                               class="form-control"
                               placeholder="Enter Email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control"
                               placeholder="Enter Password" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <u>Forgot Password / Email</u>

            </div>

            <div class="modal-header">
                <b>REGISTER</b>
            </div>
            <form action="/users/register" class="PostingForm" method="POST" role="form" data-toggle="validator">
                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="text" name="firstname" class="border-dark form-control"
                           placeholder="Enter first name" pattern="[ A-Za-z0-9]+" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text" name="lastname" class="border-dark form-control"
                           placeholder="Enter last name" pattern="[ A-Za-z0-9]+" maxlength="20" required>
                </div>
           
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="border-dark form-control"
                           placeholder="Enter email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" maxlength="30" required>
                </div>
             
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="col-sm-7 border-dark form-control" placeholder="Min. length of 8"
                           pattern=".{8,}" maxlength="20" required>
                </div>
                <!-- implement confirm password field later
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" class="border-dark form-control" placeholder="Min. length of 8 required"
                           pattern=".{8,}" maxlength="20" required>
                </div>
                -->
                <button type="submit" class="border-darkbtn col-sm-3 btn-primary btn-block">
                    Register
                </button><br>
            </form>
     
        </div>
    </div>
</div>

