<!--Login and registeration modal-->
<div class="modal fade " id="loginModal">
        <div class="modal-dialog ">
          <div class="modal-content login-modal-container">
            <div class="modal-header loginProperties">
              <b>LOG IN</b>
              <button type="button" class="close white" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body loginProperties">
              <!-- <form action="auth" method="POST" onsubmit="return checkForm(this);"> -->
                <form action="auth" method="POST" >
              <label for="email">Email</label>
              <input id="email" pattern="^[A-Za-z0-9._%+-]+@mail.sfsu.edu$" type="email" name="email" placeholder="example@mail.sfsu.edu" title="Please enter a valid SFSU email" required>
              <br>
              <label for="password">Password</label>
              <input id="password" pattern=".{6,}" type="password" name="password" placeholder="min 6 characters" title="Six or more characters" required>
             <input type="submit" value="login">
              </form>
              <a href="#">Forgot Password / Email</a>
            </div>

            <div class="modal-footer loginProperties">


              <p class="lead mt-4">Don't have An Account? </p>
              <button type="button" class="btn btn-light" data-dismiss="modal" data-toggle="modal" href="#registerModal">Register</button>
            </div>
        </div>
      </div>
</div>

<script>
function checkForm(form) {
  var emailRegex= RegExp('^[A-Za-z0-9._%+-]+@mail.sfsu.edu$')
  console.log(emailRegex.test(form.userEmail))
  if(!emailRegex.test(form.userEmail)){
    form.email.focus();
    alert("Please enter a valid SFSU email address")
    return false;
  }

  if(!form.password.length>6){
    form.password.focus();
    alert("Password must be atleast 6 characters in lenghth")
    return false;
  }
  return true;
}

</script>
      