<!--Modal to display item description-->
<div class="modal fade " id="successfulPost">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content itemModalContainer ">
        <div class="modal-header">
            <div class="container-fluid">
                <button type="button" class="close white" data-dismiss="modal">
                <span>&times;</span>
                </button>
                <h2 id="succesful-post-modal-header" class="text-center">Thank you for selling with <h2 class="text-center" id="GatorTraderLogoSmall">Gator Trader!</h2></h2>
          
        </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <h3 id="succesful-post-modal-body" class="text-center">Your item is under review and will be processed shortly.</h3> 
        </div>
        </div>
        </div>
        
      </div>
    </div>
  </div>
  