<!DOCTYPE html>
<html>
<title>Ibraheem Chaudry</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<!--
  code referenced from an open source template
  https://www.w3schools.com/w3css/w3css_templates.asp
-->
<body>
    <!-- Sidebar -->
    <nav class="purple sidebar bar-block small hide-small center">
        <img src="../team_images/avatarEmpty.jpg" style="width:100%"> <!-- user image here?-->
        <a href="/about" class="bar-item button padding-large purple hover-purple">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Return&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </a>
    </nav>

    <div class="padding-large" id="main">
        <header>
            <h2>Ibraheem Chaudry</h2>
        </header>

        <div id="about">
            <h2><br /><br />About me</h2>
            <hr align="left" style="width:600px" color="darkgoldenrod" class="opacity">
            <p>
                I am pursuing a Bachelors of Sciences in Computer Science at San Francisco State University.
                In my free time I like to workout, play guitar, binge Netflix.
            </p>
        </div>
    </div>
</body>
</html>

