<!DOCTYPE html>
<html>
<title>Szahran</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../style.css" />

<!--
  code referenced from an open source template
  https://www.w3schools.com/w3css/w3css_templates.asp
-->
<body>
    <!-- Sidebar -->
    <nav class="purple sidebar bar-block small hide-small center">
        <img src="/avatarEmpty.jpg" style="width:100%"> <!-- user image here?-->
        <a href="/" class="bar-item button padding-large purple hover-purple">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Return&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="top hide-large hide-medium" id="myNavbar">
        <div class="bar black opacity center small">
            <a href="/" class="bar-item button" style="width:25% !important">Return</a>
        </div>
    </div>
    <div class="padding-large" id="main">

        <header>

            <h1>Saleh</h1>

        </header>

        <div id="about">
            <h2>About me</h2>
            <hr align="left" style="width:600px" color="darkgoldenrod" class="opacity">
            <p>
                Soon to be graduate of San Francisco State with a Bachelor of Science in Computer Sciences.
              Experienced Operations Manager with a demonstrated history of working in the Transportation industry. Skilled in Management,Time Management, C++, and Java,.
                 Adept in handling overall operations, ensure safe and efficient operations.
            </p>
            <footer></footer>
        </div>
</body>
</html>

