<!DOCTYPE html>
<html>
<title>Tom Sechrist</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<!--
  code referenced from an open source template
  https://www.w3schools.com/w3css/w3css_templates.asp
-->
<body>
    <!-- Sidebar -->
    <nav class="purple sidebar bar-block small hide-small center">
        <img src="/Sechrist.jpg" style="width:100%"> <!-- user image here?-->
        <a href="/about" class="bar-item button padding-large purple hover-purple">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Return&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </a>
    </nav>

    <div class="padding-large" id="main">
        <header>
            <h2>Tom Sechrist</h2>
        </header>

        <div id="about">
            <h2>About me</h2>
            <hr align="left" style="width:600px" color="darkgoldenrod" class="opacity">
            <p>
                I am a student as SF State and am studying computer science. I enjoy long walks on the beach and Pina Coladas.
            </p>
            <footer></footer>
        </div>
    </div>
</body>
</html>

